font
{
font-family:courier,serif;
font-weight: normal;
font-size:26pt;
font-style:normal;
}

hr
{
border-top:1px solid #fff;
border-bottom:1px solid #fff;
border-right:1px solid #fff;
border-left:1px solid #fff;
}

a:link, a:visited
{
text-decoration:none;
color:lightblue;
}

a:hover, a:active
{
color:white;
text-decoration:none;
}
